<div class="">
  <ul class="">
    <% if user_signed_in? %>
      <li class="">
        <%= link_to "Log out" , destroy_user_session_path, data: {turbo_method: :delete}, class: "" %>
      </li>
    <% else %>
      <li class="">
        <%= link_to "Login" , new_user_session_path, class: "" %>
      </li>
    <% end %>
  </ul>
</div>
